# ignore node dependency directories
.idea/

# ignore log files and databases
*.log
*.sql
*.sqlite
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/WP-User-Frontend-Pro-Unread-Message-Count-Function.iml
